$bg-main: #121212;

$primary: #282828;
$secondary: #222222;

$red: #ff0000;
$blue: #366eff;
$yellow: #ffeb33;

$green: #10c200;

$white: #f4f4f4;

$grey: rgba(255, 255, 255, 0.6);

$disabled: #787276;

$box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15),
  -8px -8px 20px rgba(255, 255, 255, 0.05);
