@import url(https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&family=Actor&display=swap);

$font-family-primary: 'Abhaya Libre', sans-serif;
$font-family-secondary: 'Actor', serif;

$font-size-primary: 24px;
$line-height-primary: 28px;

$font-size-secondary: 14px;
$line-height-secondary: 17px;
